body {
    background-color: #d7d7d7;
}
.display-1-white {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
}
.display-1-grey {
    color: #868686;
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
}
.display-2-white {
    color: #fff;
    font-size: 16px;
    font-weight: 400px;
}
.display-2-grey {
    color: #868686;
    font-size: 16px;
    font-weight: 400px;
}
.display-2-black {
    color: #343434;
    font-size: 16px;
    font-weight: bold;
}
.display-3 {
    font-size: 30px;
    font-weight: 400;
    color: #343434;
}
.display-small-muted {
    color: #868686;
    font-size: 14px;
    font-weight: 400;
}
.display-small-italic {
    color: #868686;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}
::-webkit-input-placeholder{
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 400;
}
::-moz-placeholder {
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 400;
}
:-moz-placeholder {
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 400;
}
:-ms-input-placeholder {
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 400;
}
input[placeholder]          {text-overflow:ellipsis;}
input::-moz-placeholder     {text-overflow:ellipsis;} 
input:-moz-placeholder      {text-overflow:ellipsis;} 
input:-ms-input-placeholder {text-overflow:ellipsis;}  

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}


nav {
    background-color: #fff;
}
.nav-item .nav-link {
    font-size: 18px;
    color: #343434;
    font-weight: 500;
}
ul li+li {
    padding-left: 10px;
}
#menu1 ul li.active {
    margin-left: 10px;
}

.font-block {
    background: url(../images/font-image-block1.png) no-repeat;
    background-size: cover;
    margin-top: 20px;
}
.cont-1 {
    padding: 175px 0 225px 0;

}
.cont-2 {
    padding: 60px 0 0 0;

}
.cont-2 input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    border-radius: 4px;
    color: #b7b7b7;
    border: 2px solid #f5f5f5;
    
   
}
.cont-2 button {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    background-color: #3ec6ff;
    vertical-align: 1px;
    color: #fff;
    margin-left: 1%;

}
.font-block-2 {
    background: url(../images/font-block-2.png) no-repeat;
    background-size: cover;
    margin-top: 20px;
    padding: 180px 0;
}

.font-block-3 {
    margin-top: 20px;
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

.font-block-3 .col-left {
    padding: 150px 0 0 150px;
}
.font-block-3 .col-left .display-1-grey {
    margin-bottom: 50px;

}
.font-block-3 .col-left button {
    padding: 18px 90px;
    background-color: #3ec6ff;
    border-radius: 6px;
    color: #fff;
    margin-top: 50px;
}
.font-block-3 .col-right .slide {
    overflow-x: scroll;
}
.font-block-3 .col-right .inner {
    margin-top: 50px;
    width: 1485px;
    height: 420px;

}
.font-block-3 .col-right .inner .item {
    float: left;
    margin-right: 25px;
    height: inherit;
}
.font-block-3 .col-right .inner .item img {
    height: inherit;
}
.font-block-3 .col-right .switchers {
    margin-top: 50px;
}
.font-block-3 .col-right .switch-button {
    display: inline-block;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #d9d9d9;
    cursor: pointer;
}
.font-block-3 .col-right .switchers a:active {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 2px solid #3ec6ff;
}
.font-block-3 .col-right .switchers a:first-child {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 2px solid #3ec6ff;
}
.font-block-4 {
    margin-top: 20px;
    padding: 85px 0;
    background-color: #f6f6f6;
}

.font-block-4 .display-3 {
    margin-top: 30px;
}
.font-block-4 .display-2-grey {
    margin: 20px 0 40px 0;
    line-height: 20px;
    font-size: 15px;
}
.font-block-4 .between span {
    vertical-align: -2px;
    margin-left: 40%;
}
.font-block-5 {
    background-color: #f6f6f6;
    margin-top: 20px;
    padding: 75px 0;
}
.font-block-5 .prev {
    position: absolute;
    left: -11%;
}
.font-block-5 .next {
    position: absolute;
    right: -11%;
}
.slide-1, .slide-4, .slide-7 {
    height: 260px;
    background: url(../images/img5.1.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin-left: 15px;
}
.slide-2, .slide-5, .slide-8 {
    height: 260px;
    background: url(../images/img5.2.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin: 0 20px 0 20px;
}
.slide-3, .slide-6, .slide-9 {
    height: 260px;
    background: url(../images/img5.3.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.font-block-5 .slide-all-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 5%;
    right: 8%;
}
.display-4 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
}
.display-4_2 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-top: 10px;
    display: block;
    position: absolute;
    bottom: 22%;
    left: 9%;
}
.display-5_2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0 0 20px 15px;
}

.font-block-6 {
    background-color: #f6f6f6;
    margin-top: 20px;
    padding: 90px 0;
}
.font-block-6 .col-left .display-2-grey {
    margin-top: 28px;
    line-height: 20px;
}
.font-block-6 .col-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.font-block-6 .col-right button {
    width: 270px;
    height: 50px;
    background-color: #3ec6ff;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.font-block-7 {
    margin-top: 20px;
    background-color: #f6f6f6;
    padding: 0;
}


.font-block-7 form {
    padding: 60px 120px 60px 150px;
}
.font-block-7 form input {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding-left: 30px;
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #fff;
}

.font-block-7 form input[type="textarea"] {
    padding: 20px 0 130px 30px;

}
.font-block-7 form input[type="button"] {
    padding: 0;
    background-color: #3ec6ff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 40px;
}
.font-block-7 form label {
    color: #868686;
    font-size: 14px;
    font-weight: 400;
}
.font-block-7 .col-right {
    background: url(../images/img7.0.png) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.font-block-8 {
    margin-top: 20px;
    background-color: #f6f6f6;
}
.font-block-8 .header {
    display: flex;
    padding: 25px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #e2e2e2;
}
.font-block-8 .header .right-menu {
    display: flex;
}
.font-block-8 .header span {
    color: #868686;
    font-size: 16px;
    font-weight: 400;
}
.font-block-8 .header .right-menu .dropdown-toggle {
    width: 125px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #868686;
    font-size: 14px;
    font-weight: 400;
    border: none;
}
.font-block-8 .header .right-menu .post {
    color: #868686;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 6px;
    width: 170px;
    height: 40px;
    border: none;
}
.font-block-8 .col-left .img-left {
    float: left;
    margin-right: 20px;
}
.font-block-8 .col-left {
    padding-left: 20px;
    border-right: 2px solid #e2e2e2;
    margin: 20px 0;
}
.font-block-8 .col-left .display-small-muted {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}
.font-block-8 .col-right {
    padding: 25px 0 25px 20px;
}
.font-block-8 .col-right .display-2-black {
    line-height: 20px;
}
.font-block-8 .col-right .display-small-italic {
    line-height: 20px;
    letter-spacing: 0.1px;
}
.font-block-8 .row {
    border-bottom: 2px solid #e2e2e2;
}
.cont-8 {
    text-align: center;
}
.load {
    width: 170px;
    height: 45px;
    border-radius: 6px;
    background-color: #3ec6ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin: 55px 0;
}
.font-block-9 {
    height: 458px;
    margin-top: 20px;
    background: url(../images/map.png) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.font-block-10 {
    margin-top: 20px;
    background: url(../images/bg-font-10.png) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 56px 0 40px 0;
    text-align: center;
}
.font-block-10 p {
    margin-bottom: 58px;
}
.font-block-10 div {
    max-width: 680px;
    min-height: 450px;
    margin: auto;
    background: url(../images/img-10.png) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.font-block-10 div img {
    cursor: pointer;
}
.font-block-11 {
    margin-top: 20px;
    background-color: #f6f6f6;
    padding-top: 25px;
}
.font-block-11 .col-right .display-1-grey {
    margin-top: 140px;
}
.font-block-11 .col-right .display-2-grey {
    margin-top: 20px;
    line-height: 20px;
}
.font-block-11 .col-right button {
    width: 270px;
    height: 50px;
    background-color: #3ec6ff;
    border-radius: 6px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 45px;
}
.font-block-12 {
    margin-top: 20px;
    background-color: #f6f6f6;
    padding: 80px 0 40px 0;
    border: 1px solid #e2e2e2;
}
.font-block-12 .col-right {
    padding-left: 80px;
}
.font-block-12 .col-right input {
    width: 270px;
    height: 45px;
    border-radius: 6px;
    background-color: #ffffff;
    border: none;
    padding-left: 20px;
}
.font-block-12 .col-right button {
    width: 170px;
    height: 45px;
    border-radius: 6px;
    background-color: #3ec6ff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
}
.font-block-12 .col-right a p {
    margin-bottom: 40px;
}
.font-block-12 .col-right .socials {
    margin-top: 60px;
}
.font-block-12 .col-right .socials a {
    margin-right: 30px;
}
.font-block-13 {
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
footer div {
    display: flex;
}
footer div p {
    margin-left: 20px;
}

@media screen and  (max-width: 1200px) {
    .font-block-3 .col-left {
        text-align: center;
        padding: 100px 0;
    }
    .font-block-3 .col-right .switchers {
        text-align: center;
    }

    .font-block-4 .col-12:first-child .display-2-grey {
        margin-bottom: 60px;
    }
    
    .font-block-4 .between span {
        margin-left: 20%;
    }

    .font-block-7 form {
        padding: 60px 0px 60px 120px;
    }

    .font-block-12 .col-right button {
        margin-top: 20px;

    }

}

@media screen and  (max-width: 1100px) {
    .font-block-7 form {
        padding: 60px 0px 60px 30px;
    }
}


@media screen and  (max-width: 990px) {
   
    .font-block-4 {
        text-align: center;
    }
    .font-block-4 .between {
        margin-bottom: 40px;
    }

    .font-block-5 .slide-1, .slide-5, .slide-9 {
        text-align: center;
        max-width: 500px;
        height: 300px;
        margin: auto;
    }
    .font-block-5 .slide-2, .slide-3, .slide-4, .slide-6, .slide-7, .slide-8 {
        display: none;
    }
    .font-block-5 .prev {
        position: absolute;
        left: 0%;
    }
    .font-block-5 .next {
        position: absolute;
        right: 0%;
    }
    .font-block-6 .col-left {
        text-align: center;
    }
    .font-block-6 .col-right {
        justify-content: center;
    }
    .font-block-6 .col-right button {
        margin-top: 30px;
    }
    .font-block-7 form {
        padding: 30px 0 0 0;
    }
    .font-block-7 form p {
        margin-bottom: 30px;
    }
    .font-block-10 div {
        width: 550px;

    }
    .font-block-11 .col-right .display-1-grey {
        margin-top: 0;
    }
    .font-block-12 .col-right {
        padding-left: 0;
        margin-top: 50px;
    }
    .font-block-12 {
        text-align: center;
    }

}


@media screen and (max-width: 800px) {
    .font-block .cont-2 input {
        margin: 5px 0;
    }
    .font-block .cont-2 button {
        margin-top: 5px;
    }
    .font-block-2 {
        text-align: center;
    }
    .font-block-2 .cont-3 {
        padding: 180;
    }
    .font-block-2 .cont-2 input {
     margin: 5px 0;
    }
    .font-block-2 .cont-2 button {
        margin-top: 5px;
    }

    .font-block-5 .prev {
        position: absolute;
        left: -3%;
    }
    .font-block-5 .next {
        position: absolute;
        right: -3%;
    }
    .font-block-5 .slide-1, .slide-5, .slide-9 {
        text-align: center;
        max-width: 400px;
        margin: auto;
    }
    .font-block-7 form {
        padding: 30px 50px;
    }
    .font-block-8 .col-left {
        padding: 0;
    }
    .font-block-11 {
        text-align: center;
        padding-bottom: 30px;
     
    }
    .font-block-11 .col-right .display-1-grey {
        margin-top: 30px;
    }

}


@media screen and (max-width: 600px) {

    .font-block-10 div {
        width: 450px;
    }

    .display-1-white, .display-1-grey {
        font-size: 34px;
        line-height: 50px;
    }

}

@media screen and (max-width: 500px) {
    .cont-1 {
        padding: 50px 0;
    }
    .font-block-2 {
        padding: 50px 0;
    }
    .font-block-3 .col-left {
        padding: 50px 10px 0 10px;
        text-align: center;
    }
    .font-block-3 .col-right .inner .item img {
        height: 400px;
    }
    .font-block-6 {
        padding: 50px 0;
    }
    .font-block-7 form {
        padding: 30px 0;
    }
    .font-block-7 form input {
        padding-left: 10px;
    }
    .font-block-8 .header .right-menu .dropdown-toggle {
        width: 120px;
        margin-left: 10px;
    }
    .font-block-8 .header .right-menu .post {
        width: 120px;
        margin-left: 10px;
    }
    .font-block-8 .col-left .img-left {
        float: left;
        margin-right: 0;
    }
    .font-block-8 .col-left {
        padding-left: 0px;
        padding-right: 10px;
        border-right: 2px solid #e2e2e2;
        margin: 20px 0px 20px 0;
        text-align: center;
    }
    .font-block-8 .col-right {
        padding: 25px 0 25px 10px;
    }
    .font-block-10 div {
        width: 350px;
    }
    .font-block-12 {
        padding-top: 50px;
    }
    .font-block-12 .col-right input {
        margin-left: 10px;
    }
    .font-block-12 .col-right button {
        margin-right: 20px;
        margin-top: 30px;
    }
    .font-block-12 .col-right .socials {

        padding-left: 40px;

    }
}