/* Обнуление стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

nav,footer,header,aside {display: block;}

html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

/* ---------------------------------- */

body {
    font-family: "Seoul", sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1316px;
    padding: 0px 15px;
    margin: 0px auto;
}
.container-fluid {
    max-width: 1637px;
    padding: 0px 15px;
    margin: 0px auto;
}
.line-x {
    height: 1px;
    background-color: #CFCFCF;
}
.content {
    flex: 1 0 auto;
    padding: 100px 0px 0px 0px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #000;
}
.header__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
.header__logo {
    margin-left: -15px;
    display: flex;
    align-items: center;

}
.header__logo-img {
    flex: 0 0 85px;
    /* border-radius: 100%; */
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo-img img {
    max-width: 100%;
    display: block;
}
.header__logo_text {
    font-size: 36px;
    line-height: 36px;
    color: #E2E2E2;
    margin-left: 21px;
}
.header__burger {
    display: none;
}
.header__menu {
    display: flex;
    align-items: center;

}
.header__list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}
.header__list li {
    list-style: none;
}
.header__link {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}
.header__line {
    height: 20px;
    margin: 0px 10px;
    width: 2px;
    background: linear-gradient(180deg, #78A043 0%, #FFFFFF 100%), rgba(239, 239, 239, 0.5);
    opacity: 0.8;
    border-radius: 2px;
}
.header__button {
    margin-left: 15px;
    padding: 3px 3px 3px 3px;
    background: linear-gradient(180deg, #78A043 0%, #FFFFFF 100%), rgba(239, 239, 239, 0.5);

}
.header__button a {
    display: inline-block;
    padding: 15px;
    color: #fff;
    background-color: #000;
    font-size: 18px;
    line-height: 18px;
}







@media (max-width:1200px) {
    body.lock {
        overflow: hidden;
    }
    .header__body {}
    .header__logo {
        z-index: 3;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        height: 2px;
        width: 100%;
        top: 9px;
        transition: all 0.1s ease 0s;
    }
    .header__burger:before,
    .header__burger:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.4s ease 0s;

    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger.active:before {
        background-color: #fff;
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after {
        background-color: #fff;
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #000;
        transition: all 0.5s ease 0s;
    }
    .header__line {
        width: 100%;
        margin: 0px;
        height: 2px;
        background: linear-gradient(90deg, #78A043 0%, #FFFFFF 100%), rgba(239, 239, 239, 0.5);
        opacity: 0.8;
        border-radius: 2px;
    }
    .header__menu.active {
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        padding: 130px 0px 0px 30px;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        /* margin-left: 20px; */
        margin-bottom: 20px;
    }
    .header__link {
        font-size: 24px;
    }
    .header__button {
        margin: 20px 0;
    }
    .header__button a {
    }
}

@media (max-width: 768px) {
    .header__logo_text {
        display: none;
    }
}





.footer {
    flex: 0 0 auto;
    height: 250px;
    background-color: #000;
}
.footer__row {
    display: flex;
    justify-content: space-between;
}
.footer__column.left .footer__text {
    margin-top: 31px;
    font-size: 48px;
    line-height: 48px;
}
.footer__column.right .footer__text {
    margin-top: 182px;
    font-size: 36px;
    line-height: 36px;
}
.footer__text {
    color: #FFFFFF;
}






@media (max-width: 768px) {
    .footer__column.left .footer__text {
        margin-top: 31px;
        font-size: 36px;
        line-height: 36px;
    }
    .footer__column.right .footer__text {
        margin-top: 182px;
        font-size: 24px;
        line-height: 24px;
    }
}
@media (max-width: 536px) {
    .footer__column.left .footer__text {
        margin-top: 31px;
        font-size: 24px;
        line-height: 24px;
    }
    .footer__column.right .footer__text {
        margin-top: 182px;
        font-size: 16px;
        line-height: 16px;
    }
}





.main {
    padding: 79px 0px 113px 0px;
    background: url(../img/main-bg.png) 100% 30% no-repeat;
}
.main__title {
    font-size: 72px;
    line-height: 72px;
    color: #000000;
}
.main__list {
    margin-top: 60px;
    padding: 0px 0px 0px 50px;
}
.main__item {
    background: url(../img/Polygon.png) 1px no-repeat;
    padding-left: 30px;
    margin-top: 30px;
    font-size: 24px;
    color: #000000;
}



@media (max-width: 1024px) {
    .main {
        background-position: 100% 50%;
    }
    .main__title {
        font-size: 48px;
        line-height: 48px;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 50px 0px;
        background: none;
    }
    .main__list {
        padding: 0;
        margin-top: 50px;
    }
    .main__title {
        font-size: 36px;
        line-height: 36px;
    }
}

@media (max-width: 536px) {
    .main__title {
        font-size: 24px;
        line-height: 24px;
    }
    .main__item {
        font-size: 16px;
        line-height: 16px;
    }
}

@media (max-width: 380px) {
    .main__item:first-child {
        background: url(../img/Polygon.png)no-repeat;
    }
}



.create {}
.create__body {
    border-top: 1px solid #CFCFCF;
    padding: 100px 0px 50px 0px;
}
.create__title {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 30px;
}
.create__row {
    display: flex;
    margin: 0px -23px;
}
.create__column {
    padding: 0px 23px;
}
.create__column:first-child {
    flex: 0 0 753px;
}
.create__image {
    height: 270px;
    border-radius: 10px;
}
.create__image.first {
    background: url(../img/create-img.png) no-repeat;
    background-size: cover;

}
.create__image.second {
    background: url(../img/task-img.png) no-repeat;
    background-size: cover;
}
/* .create__image img {
    max-width: 100%;
} */
.create__image.third {
    background:
     url(../img/3in1\ -1.png) center no-repeat,
     url(../img/3in1\ left-bottom.png) left bottom no-repeat,
     url(../img/3in1\ right-top.png) right top no-repeat,
     linear-gradient(180deg, #F2F2F2 0%, rgba(255, 255, 255, 0) 100%);
     background-color: #D2D2D2;
}
.create__text {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
}
.create__develop {
    margin-top: 20px;
}
.create__example {
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: #737373;
    padding: 15px 20px;
    background: linear-gradient(180deg, #E8E8E8 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
    border-radius: 5px;
    margin-right: 5px;
}
.create__example:last-child {
    margin-right: 0;
}





@media (max-width: 1280px) {
    .create__column:first-child {
        flex: 0 0 650px;
    }
    .create__image {
        height: 220px;
    }
}
@media (max-width: 1153px) {
    .create__row {
        flex-direction: column;
    }
    .create__body {
        padding-top: 50px;
    }
    .create__title {
        /* text-align: center; */
        margin-bottom: 0;
    }
    .create__column:first-child {
        flex: 0 0 auto;
    }
    .create__image {
        height: 270px;
    }
    .create__item:last-child {
        margin-top: 50px;
    }    
}
@media (max-width: 768px) {
    .create__image {
        height: 200px;
    }
}
@media (max-width: 536px) {
    .create__title {
        font-size: 24px;
        line-height: 24px;
    }
    .create__text {
        font-size: 16px;
        line-height: 16px;
    }
}
@media (max-width: 475px) {
    .create__develop {
        margin-top: 5px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .create__example {
        margin-top: 5px;
    }
    .create__image {
        height: 150px;
    }
    .create__item:last-child {
        margin-top: 20px;
    } 
}
@media (max-width: 321px) {
    .create__image {
        height: 120px;
    }
}




.black {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    padding: 40px 0px 170px 0px;
    background: url(../img/black-img_fon.png) left no-repeat;
    background-color: #000;
}

.black__text {
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    max-width: 78%;
    max-width: 0 auto;
}


@media (max-width: 1700px) {
    .black{
        background: url(../img/black-img_fon-mirror.png) right no-repeat;
        background-color: #000;

    }  
    
}
@media (max-width: 1024px) {
    .black__text {
        font-size: 48px;
        line-height: 48px;
    }
}
@media (max-width: 768px) {
    .black__text {
        font-size: 36px;
        line-height: 36px;
    }
    .black {
        padding-bottom: 70px;
        background-image: none;
    }
}
@media (max-width: 536px) {
    .black__text {
        max-width: 100%;
        font-size: 24px;
        line-height: 24px;
    }
    .black {
        padding-bottom: 50px;
    }
}




.contacts {
    padding: 80px 0px 355px 0px;
}
.contacs__title {
    font-size: 64px;
    line-height: 64px;
    color: #000000;
}
.contacts__subtitle {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    max-width: 700px;
    margin-top: 50px;
}
.contacts__row {
    display: flex;
    margin: 0px -44px;
    margin-top: 80px;
}
.contacts__column {
    flex: 0 0 50%;
    padding: 0px 44px;
    display: flex;
}
.contacts__item {
    flex: 0 0 100%;
    background: rgba(235, 235, 235, 0.35);
    border: 1.5px solid #BBBBBB;
    border-radius: 10px;
    padding: 70px 30px 105px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__centered {
    max-width: 370px;
    margin: 0px auto;
}
.contacts__text {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}
.contacts__communication {
    max-width: 360px;
    height: 120px;
}
.contacts__communication.form {
    border-radius: 6px;
    background: linear-gradient(180deg, #78A043 0%, #000 100%), rgba(239, 239, 239, 0.5);
    margin-top: 100px;
    padding: 4px;
}
.contacts__communication.form a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
    font-size: 48px;
    line-height: 48px;
    border-radius: 6px;
    color: #000000;
    background-color: #FFFFFF;
}  
.contacts__communication.form a img {
    margin-left: 30px;
} 
.contacts__communication.social {
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.contacts__communication.social img {
    max-width: 100%;
}
.contacts__communication.social a:first-child {
    margin-right: 50px;
}





@media (max-width: 1350px) {
    .contacts__row {
        margin: 0px -10px;
        margin-top: 100px;
    }
    .contacts__column {
        padding: 0px 10px;
    }
}
@media (max-width: 1170px) {
    .contacts__communication.social {
        margin-top: 60px;
    }
}
@media (max-width: 1024px) {
    .contacts__item {
        padding: 50px 15px 50px 15px;
    }
}
@media (max-width: 902px) {
    .contacts__row {
        flex-direction: column;
        margin-top: 50px;
    }
    .contacts__item.right {
        margin-top: 20px;
    }
    .contacts__text {
        text-align: center;
    }
    .contacts__communication.form {
        margin-top: 80px;
    }
}
@media (max-width: 768px) {
    .contacts {
        padding: 50px 15px 50px 15px;
    }
    .contacts__centered {
        max-width: 373px;
        margin: 0px auto;
    }
    .contacts__item {
        padding: 30px 10px 30px 10px;
    }
    .contacts__communication.form {
        margin-top: 50px;
    }
    .contacts__communication.form a {
        font-size: 24px;
    }
    .contacs__title {
        font-size: 36px;
        line-height: 36px;
    }
    .contacts__subtitle {
        font-size: 24px;
        line-height: 24px;
        max-width: 700px;
        margin-top: 20px;
    }
    .contacts__text {
        font-size: 24px;
        line-height: 24px;  
    }
}
@media (max-width: 536px) {
    .contacts__row {
        margin-top: 30px;
    }
    .contacts {
        padding-left: 0;
        padding-right: 0;
    }
    .contacs__title {
        font-size: 36px;
        line-height: 36px;
    }
    .contacts__subtitle {
        font-size: 24px;
        line-height: 24px;
        max-width: 500px;
        margin-top: 20px;
    }
    .contacts__communication.form a {
        font-size: 24px;
    }
    .contacts__communication {
        max-width: 260px;
        height: 80px;
    }
    .contacts__centered {
        max-width: 261px;
        margin: 0px auto;
    }
}
@media (max-width: 375px) {
    .contacts__text {
        font-size: 24px;
        line-height: 24px;  
    }
}




@font-face {
    font-family: "Seoul";
    src: url(../fonts/SeoulHangangCondensed-Medium.ttf);
    font-style: normal;
    font-weight: normal;
}